@use 'src/app/app.component' as app;
@use 'src/app/mixins/mixins' as mixins;

.comment {
    @include mixins.container;

    &-content {
        font-size: app.$font-size;
        color: gray;
        width: 100%;
    }

    &-body {
        padding-bottom: 2rem;
        position: relative;

        .update_btn {
            @include mixins.btn-default;
            @include mixins.btn-primary;
            @include mixins.btn-accent;
            position: absolute;
            right: 0%;
            bottom: 5%;
        }

        &_mention-tag {
            color: app.$accent-blue;
            font-weight: app.$font-semibold;
        }
    }

    &-text {
        border-radius: 8px;
        border-color: app.$dark-slate;
        color: gray;
        font-size: app.$font-size;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    &-reply {
        position: absolute;
        bottom: 10%;
        right: 5%;
        display: flex;
        gap: 0.75rem;
        height: fit-content;

        &_btn {
            @include mixins.btn-default;
            color: app.$accent-blue;
            font-weight: app.$btn-font-weight;
            display: flex;
            gap: 0.4rem;
            align-items: center;

            &:hover, & svg:hover{
                color: app.$accent-blue-hover;
            }
        }

        & .comment-edit_btn {
            @include mixins.btn-default;
            color: app.$accent-blue;

            &:hover {
                color: app.$accent-blue-hover;
            }
        } 
        
        & .comment-delete_btn {
            @include mixins.btn-default;
            color: app.$delete-red;

            &:hover {
                color: app.$delete-red-hover;
            }
        }
    }
    
    &-score {
        order: 2;
        display: flex;
        align-items: center;
        gap: 10px;

        width: 30%;
        justify-content: space-between;

        background-color: app.$bg-color-primary;
        border-radius: 10px;
        padding: 8px;

        &_btn {
            @include mixins.btn-default;
            color: gray;
            font-weight: app.$btn-font-weight;
            font-size: app.$font-size;
            padding: 5px 12px;
            padding-left: 12px;
            padding-right: 12px;
            display: flex;
            align-items: center;

            & svg {
                transition: ease-in-out 100ms;

                &:hover {
                    transform: scale(1.5);
                }
            }

            &[disabled] {
                color: lightgray;
                
                & svg {
                    transition: none;

                    &:hover {
                        transform: none;
                    }
                }
            }
        }

        & span {
            color: app.$accent-blue;
            font-weight: app.$font-bold;
            font-size: app.$font-size;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: app.$font-size;
        color: initial;

        &_username {
            font-weight: app.$font-semibold;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        &_img {
            width: 2rem;
            height: 2rem;    
        }

        &_created-at {
            color: gray;
            font-size: app.$font-size;
        }

        &_you-tag {
            background-color: app.$accent-blue;
            color: white;
            font-size: app.$font-size-sm;
            padding: 0.25rem 0.4rem;
            border-radius: 1px;
        }
    }
}

.replies {
    margin: 1rem 0 1rem 1.5rem;
    padding-left: 1.5rem;
    background: none;
    border-left: solid app.$text-gray 2px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: app.$breakpoint-tablet) {
    .comment {
        flex-direction: row;

        &-reply {
            position: absolute;
            top: 10%;
            right: 5%;
        }

        &-content {
            order:2
        }

        &-score {
            order: 1;
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: fit-content;

            &_btn {
                padding: 12px;
            }
        }
    }
}

article.comment {
    animation: slideUp 0.75s ease-in;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}