@use 'src/app/app.component' as app;

$btn-font-weight: 500;

@mixin container {
    box-shadow: 7px 5px 5px lightgray;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    background-color: white;
}

@mixin btn-default {
    border: none;
    background: none;
    font-size: 16px;
}

.comment {
    @include container;

    &-content {
        font-size: 16px;
        color: gray;
        width: 100%;
    }

    &-body {
        padding-bottom: 4.5rem;
        position: relative;

        .update_btn {
            position: absolute;
            right: 0%;
            bottom: 5%;
        }
    }

    &-reply {
        position: absolute;
        bottom: 10%;
        right: 5%;
        display: flex;
        gap: 0.75rem;
        height: fit-content;

        &_btn {
            @include btn-default;
            color: app.$accent-blue;
            font-weight: $btn-font-weight;

            &:hover, & svg:hover{
                color: app.$accent-blue-hover;
            }
        }

        & .comment-edit_btn {
            @include btn-default;
            color: app.$accent-blue;

            &:hover {
                color: app.$accent-blue-hover;
            }
        } 
        
        & .comment-delete_btn {
            @include btn-default;
            color: app.$delete-red;

            &:hover {
                color: app.$delete-red-hover;
            }
        }
    }
    
    &-score {
        order: 2;
        display: flex;
        align-items: center;
        gap: 10px;

        width: 30%;
        justify-content: space-between;

        background-color: app.$bg-color-primary;
        border-radius: 10px;
        padding: 8px;

        &_btn {
            @include btn-default;
            color: gray;
            font-weight: $btn-font-weight;
            font-size: 16px;
            padding: 5px 12px;
            padding-left: 12px;
            padding-right: 12px;
        }

        & span {
            color: app.$accent-blue;
            font-weight: 700;
            font-size: 16px;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 0.75rem;
        color: initial;

        &_img {
            width: 2rem;
            height: 2rem;    
        }

        &_created-at {
            color: gray;
            font-size: 16px;
        }

        &_you-tag {
            background-color: app.$accent-blue;
            color: white;
            padding: 0.25rem;
        }
    }

    &-text {
        border-radius: 5px;
        border-color: app.$dark-slate;
        color: gray;
        font-size: 16px;
        width: 100%;
    }
}

.reply-box {
    margin: 1rem 0;
    box-sizing: content-box;
    animation: slideInRight 300ms ease-in;
}

.accent-btn {
    @include btn-default;
    background-color: app.$accent-blue;
    height: fit-content;
    padding: 1rem 1.75rem;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;

    &:hover {
        background-color: app.$accent-blue-hover;
    }
}

.replies {
    margin: 1rem 0;
    padding-left: 1.5rem;
    background: none;
    border-left: solid app.$text-gray 2px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: app.$breakpoint-tablet) {
    .comment {
        flex-direction: row;

        &-reply {
            position: absolute;
            top: 10%;
            right: 5%;
        }

        &-content {
            order:2
        }

        &-score {
            order: 1;
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: fit-content;

            &_btn {
                padding: 12px;
            }
        }
    }
}

article.comment {
    animation: slideUp 0.75s ease-in;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}