<ng-container *ngIf="isOpen() === true">
    <div class="overlay"></div>
    <div class="modal">
        <h2>
            {{ modal().title }}
        </h2>
        <p>
            {{ modal().body }}
        </p>

        @if(modal().showButtons) {
           <div class="buttons-container">
                <button (click)="this.modal().cancelAction()" class="cancel">
                    {{ modal().cancelBtnText }}
                </button>
                <button (click)="this.modal().applyAction()" class="apply">
                    {{ modal().applyBtnText }}
                </button>
            </div> 
        }
        
    </div>  
</ng-container>

