@use 'src/app/app.component' as app;

@mixin container {
    box-shadow: 7px 5px 5px lightgray;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    background-color: white;
}

@mixin btn-default {
    border: none;
    background: none;
    font-size: app.$font-size;
}

@mixin btn-primary {
    height: fit-content;
    padding: 1rem 1.75rem;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: app.$font-bold;
    font-size: app.$font-size;
}

@mixin btn-accent {
    @include btn-default;
    @include btn-primary;
    background-color: app.$accent-blue;
    color: white;

    &:hover {
        background-color: app.$accent-blue-hover;
    }
}