@if( user()) {
    <div class="comment reply-box ">
        <img 
            [src]="'assets/images/' + user()!.image.png" 
            [alt]="user()!.username"
            class="comment-header_img"
        >
        <ng-container *ngIf="!isReply; else replyTemp">
            <textarea [(ngModel)]="content" spellcheck="true" class="comment-text" name="" id="" cols="120" rows="8" placeholder="Add a comment..."></textarea>
            <button (click)="postComment()" class="send_btn">
                Send
            </button>
        </ng-container>
    </div>
}

<ng-template #replyTemp>
    <textarea [(ngModel)]="content" spellcheck="true" name="reply" class="comment-text" cols="120" rows="8"></textarea>
    <button (click)="reply()" class="send_btn">
        Reply
    </button>
</ng-template>

