@use 'src/app/app.component' as app;
@use 'src/app/mixins/mixins' as mixins;

.comment {
    @include mixins.container;

    &-header {
        &_img {
            width: 3rem;
            height: 3rem;
            order:2    
        }
    }

    &-text {
        border-radius: 8px;
        border-color: app.$dark-slate;
        color: gray;
        font-size: app.$font-size;
        padding: 1rem;
        box-sizing: border-box;
    }
}

.reply-box {
    margin: 1rem 0;
    box-sizing: content-box;
    animation: slideInRight 300ms ease-in;
}

.send_btn {
    @include mixins.btn-default;
    @include mixins.btn-primary;
    @include mixins.btn-accent;
    position: absolute;
    bottom: 10%;
    right:5%;
}

@media (min-width: app.$breakpoint-tablet) {
    .comment {
        flex-direction: row;

        &-text {
            order:2;
        }

        &-header_img {
            order:1;
        }
    }

    .send_btn {
        position: relative;
        bottom: 0;
        right: 0;
        order: 3;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}